/* ------------ fonts ------------ */

@font-face {
  font-family: 'Metric';
  src: url('/fonts/Metric-Regular.woff2') format('woff2'),
    url('/fonts/Metric-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Metric', sans-serif;
}

/* ------------ custom ------------ */

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.ease-circ {
  transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}

.ease-expo {
  transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}

.gradient-blur {
  mask: linear-gradient(black, transparent);
  backdrop-filter: blur(24px);
}

/* ------------ tailwind ------------ */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------ global ------------ */

body {
  font-family: 'Metric', sans-serif;
}

h1 {
  font-size: 1.5rem;
  width: 100%;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* ------------ animations ------------ */

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -10% -20%;
  }
  20% {
    background-position: -30% 10%;
  }
  30% {
    background-position: 14% -50%;
  }
  40% {
    background-position: 40% 100%;
  }
  50% {
    background-position: -50% 20%;
    opacity: 0.75;
  }
  60% {
    background-position: 30% 10%;
  }
  70% {
    background-position: 0 30%;
  }
  80% {
    background-position: 50% 70%;
  }
  90% {
    background-position: -20% 20%;
  }
}
